<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.otsuland.market.mapper.PicIconMapper">

    <!-- selectByUserId --> 

    <select id="selectByUserId">
        select * from pic_icon where user_id = #{userId};
    </select>
</mapper>